<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fig Tree</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
  </head>
  <body>
    <div class="background-container">
      <div class="background-text"></div>
    </div>
    {% if player %}
    <div class="position">
      {% if player['age']|int < 77 %}
      <div class="card dark">
        <span class="timer">
          <span
            id="timer"
            data-age="{{ player['age'] }}"
            data-last-stage="{{ player['time_last_stage'] }}"
            >00:00</span
          >
          remaining
        </span>
      </div>
      {% endif %}
      <div class="card">
        <h2>
          Hello, {{ player['name'] }}.<br />
          You are {{ player['age'] }} years old.
        </h2>
        <ul>
          {% for age in range(21, player['age']|int + 1, 7) %} {% if
          player['choice_' ~ age] %}
          <li>Age {{ age }}: {{ player['choice_' ~ age] }}</li>
          {% endif %} {% endfor %}
        </ul>
        <p>Current tap: {{ player['last_tap'] }}</p>

        {% if player['age']|int < 77 and player['last_tap'] %}
        <button onclick="commit()">COMMIT</button>
        <p class="continue">Or tap another fig...</p>
        {% elif player['age']|int < 77 %}
        <p class="continue">Tap another fig to continue...</p>
        {% endif %} {% if player['age']|int >= 35 %}
        <button onclick="printReceipt()">PRINT RECEIPT</button>
        {% endif %}
      </div>
    </div>
    {% else %}
    <div class="position center">
      <div class="card">
        <h2>What's your name?</h2>
        <input type="text" id="name" placeholder="Name" />
        <button onclick="submitName()">SUBMIT</button>
      </div>
    </div>
    {% endif %}
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
