<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fig Tree</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
  </head>
  <body>
    <div class="background-container">
      <div class="background-text"></div>
    </div>
    {% if player %}
    <div class="position">
      {% if player['current_age']|int < 77 %}
      <div class="card dark">
        <span class="timer">
          <span
            id="timer"
            data-current-age="{{ player['current_age'] }}"
            data-time-stage-started="{{ player['time_stage_started'] }}"
            >00:00</span
          >
          remaining
        </span>
      </div>
      {% endif %}
      <div class="card">
        {% for choice in choices %}
        <h2>
          Hello, {{ player['name'] }}.<br />
          You are {{ choice['age'] }} years old.
        </h2>
        <p>{{ choice['stage_text'] }}</p>
        <p>{{ choice['option_text'] }}</p>
        <h2>{{ choice['choice_title'] }}</h2>
        <p>{{ choice['choice_text'] }}</p>
        <p>Time passes...</p>
        {% endfor %}

        <h2>
          Hello, {{ player['name'] }}.<br />
          You are {{ player['current_age'] }} years old.
        </h2>
        <p>Current option: {{ player['current_option'] }}</p>

        {% if player['current_age']|int < 77 and player['current_option'] %}
        <button onclick="commit()">COMMIT</button>
        <p class="continue">Or tap another fig...</p>
        {% elif player['current_age']|int < 77 %}
        <p class="continue">Tap another fig to continue...</p>
        {% endif %} {% if player['current_age']|int >= 35 %}
        <button onclick="printReceipt()">PRINT RECEIPT</button>
        {% endif %}
      </div>
    </div>
    {% else %}
    <div class="position center">
      <div class="card">
        <h2>What's your name?</h2>
        <input type="text" id="name" placeholder="Name" />
        <button onclick="submitName('{{ current_option }}')">SUBMIT</button>
      </div>
    </div>
    {% endif %}
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
