<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fig Tree</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
  </head>
  <body>
    <div class="background-container">
      <div class="background-text"></div>
    </div>
    {% if player %}
    <div class="card">
      <h2>
        Hello, {{ player['name'] }}.<br />
        You are {{ player['age'] }} years old.
      </h2>
      {% if player['age']|int < 77 %}
        <button onclick="commit()">COMMIT</button>
      {% endif %}
      {% if player['age']|int >= 35 %}
        <button onclick="printReceipt()">PRINT RECEIPT</button>
      {% endif %}
    </div>
    {% else %}
    <div class="card">      
      <h2>What's your name?</h2>
      <input type="text" id="name" placeholder="Name" />
      <button onclick="submitName()">SUBMIT</button>
    </div>
    {% endif %}
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
